             
@font-face{
  font-family: Hyper;
  src: url(../fontes/menu.ttf);
}


@font-face{
  font-family: Captcha;
  src: url(../fontes/captcha.ttf);
}

@font-face{
  font-family: Dos;
  src: url(../fontes/DOS.ttf);    
}
@font-face{
  font-family: Dos3D;
  src: url(../fontes/DOS3D.ttf);
}

@font-face{
  font-family: Vice;
  src: url(../fontes/vicecity.otf);
}

@font-face{
  font-family: Future;
  src: url(../fontes/future.otf);
}

@font-face{
  font-family: Aldo;
  src: url(../fontes/aldo.ttf);
}

@font-face{
  font-family: Quadrado;
  src: url(../fontes/quadrado.ttf);
}

@font-face{
  font-family: Batman;
  src: url(../fontes/batman.ttf);
}

/*BUTON*/

#containerLang{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}
#changeLang{
    width: 10%;
    height: 100%;
    margin-right: 10%;
}
    .onoffswitch {
        position: relative; width: 100%;
    }
    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: pointer;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 50%; padding: 0; line-height: 250%;
        margin:0;
        font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "PORTUGUÊS";
        padding-left: 2%;
        background-color: #1D2B2E; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "INGLÊS";
        padding-right: 2%;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 10%; margin: 4%;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 80%;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0; 
    }


html{
    height: 100%;
}
body{
    overflow-x: hidden;
    margin:0;
    height: 100%;
     font-family: Vice;
    color: white;
    background: rgb(4,4,4);    
    position: relative;

}
#animation{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -10;
    overflow: hidden;
}

#cab{
    height:60vh;
    width:100%;
    background: linear-gradient(180deg, rgba(12,12,12,0.5) 0%, rgba(9,9,9,0.5) 65%, rgba(8,8,8,0.0.5) 78%, rgba(4,4,4,0) 100%); z-index:5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}
#cab h1{
    width: 100%;
    text-align: center;
    font-family: Quadrado;
    font-size: 5vmax;
    filter:     drop-shadow(.1vw .2vw 0px black) drop-shadow(.2vw .4vw 0px black)drop-shadow(.3vw .6vw 0px black);
    container-type: inline-size;
    container-name: cab-c;
    
}

#cabLang{
    position: fixed;
    top:0;
	margin-top: .3%;
    height: 5vh;
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0,.01);
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.language{
	margin-right: 4%;
	height:80%;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.language input{
    opacity: 0;
}
.language label{
    width: 100%;
    height: 100%;
    filter: drop-shadow(1px 2px 5px black);
    transition: all .4s;
}
.language label:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px black);
}
.language img{
    max-width: 100%;
    max-height: 100%;
	transition: all .8s;
}
.language img:hover{
	transform: translateY(8%) scale(1.1);
}


.titleProject{
    margin-bottom: 8vh;
    margin-top: 8vh;
    height: 10%;
    width: 100%;
    margin-left: 5vw;
    display: flex;
    align-items: center;  
    }

.titleProject h1{
    font-family: Future;
    font-size: 5vmax;
    filter:     drop-shadow(0px .2vmax 0px black) drop-shadow(0px -0.1vmax 0px black) 
    drop-shadow(0px .4vmax 0px black) drop-shadow(0px .4vmax 0px black);
    z-index: -1;
}


/*  CONTAINERS  */

.containerDiv{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.containerDivI{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 180vh;
    overflow: hidden;
}
.containerG{
    width:100%;
    height: auto;
    display: flex;flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    container-type: inline-size;
    container-name: global-c;
    z-index:9;
}
.containerDivS{
    width:100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.containerDivP{
    width:100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}





/*ABOUT*/

.hiddenText{
    height: 60%;
    width: 80%;
    position: relative;
}

 
.textAbout{
    position: absolute;
    width:100%;
    height: 100%;
    font-family: Quadrado;
    font-size: 2vmax;  
    filter:     drop-shadow(0px 2px 0px black) drop-shadow(0px -2px 0px black) 
    drop-shadow(2px 0px 0px black) drop-shadow(-2px 0px 0px black) ;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    transition: all 1s;
}


.myAbout .textInContainerContact{
    text-align: center;
    margin: 0;
    height: 100%;
}
.myAbout .textInContainerContact h2{
    font-size: 2.5vmax;
     text-align: center;
}

.myAbout .textInContainerContact h3{
    font-size: 1.5vmax;
     text-align: center;
}
.myAbout{
    width: 80%;
    height: 50%; 
    transition:  all 1s;
    display: flex;
    margin-bottom: 1.5vh;
    flex-direction: column;
    justify-content: flex-start;
}   


.myAbout:hover{
    cursor: pointer;
    transition: all 1.2s;
    transform: translateY(-10px);
}
.myAbout .imageContact{
    position: relative;
    width: 100%;
    height: 90%;
    margin:0;
}

.smallContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
}
#myPhoto{
    position: relative;
    width: 30vmin;
    height: 30vmin;
    border-radius: 100%;
    background: url("../imagens/eu.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
}

#menuAbout
{
    width:80%;
    height: 10%;
    font-family: Quadrado;
    margin: 0;
}
#menuAbout ul
{
    width:100%;
    height: 100%;
    color:white;
    list-style:none;
    position:relative;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#menuAbout li
{
    padding: 0;
    width: auto;
    text-align: center;
    position:relative;
    font-size:150%; 
    transition: text-decoration 1s ease;   
    text-decoration: underline transparent;  filter:     drop-shadow(0px 2px 0px black) drop-shadow(0px -2px 0px black) 
    drop-shadow(2px 0px 0px black) drop-shadow(-2px 0px 0px black) ;
  
}

#menuAbout li:hover{
    color: rgb(255,250,240);
    cursor:pointer;
    transition: all 1s;
    text-decoration-color: aliceblue;
}


.smallContainer p{
    width: 80%;
    margin-top: 1vmax;
    margin-left: 1vmax;
    text-align: left;
    font-family: Quadrado;
    font-size: 2vmax;
    filter:     drop-shadow(0px 2px 0px black) drop-shadow(0px -2px 0px black) 
    drop-shadow(2px 0px 0px black) drop-shadow(-2px 0px 0px black) 
    ;
}


.bigContainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    container-type: inline-size;
    container-name: projects-c;
}


.skillsContainer{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}



.smallContainerC{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}


/*SKILL CONTAINER*/





.mySkill{
    width: 25%;
    height: 100%; 
    transition:1s;
    margin-top: 1.5em;
    transition:  all 1s;
    filter: grayscale(.3) drop-shadow(2px 3px black);
}

.mySkill:hover{
    cursor:pointer;
    transform: translateY(-2vw);
    filter: grayscale(0);
}

.inContainerSkill{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: center;
    transition: all 1s;
    overflow: hidden;
}




.allHiddenSkill{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.imageHiddenSkill{
    width: 60%;
    height: 20%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-content: center;
    filter: grayscale(.3) drop-shadow(0px 3px white) drop-shadow(0px -3px white)drop-shadow(3px 0px white)drop-shadow(-3px 0px white);
    margin-top: 20px;
}
.imageHiddenSkill img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



.textInContainerSkill{
    width:90%;
    height:100%;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    text-align: left;
    transition: all 1s;
    margin: 0;
    overflow: hidden;
    
}
.levelSkill{
    width: 70%;
    height: 1.1vmax;
    border: 1px solid white;
    box-shadow: 0px 0px 4px 0px rgb(223,200,40);
    background: linear-gradient(90deg, rgba(223,200,40,1) 0%, rgba(223,200,40,1) 25%, rgba(255,255,255,1) 25.1%, rgba(223,200,40,1) 25.5%,
    
    
    rgba(223,200,40,1) 50%, rgba(255,255,255,1) 50.1%, 
    
    rgba(223,200,40,1) 50.5%,
    
    rgba(223,200,40,1) 75%, rgba(255,255,255,1) 75.1%, 
    
    rgba(223,200,40,1) 75.5%, 
    
    rgba(223,200,40,1) 100%);
    
}
.textInContainerSkill h2{
    font-family: Future;
    font-size: 2vmax;
    text-align: center;
    text-shadow: 2px 1px black;
    color: white;
}

.textInContainerSkill h3{
    font-family: Quadrado;
    color:white;
    font-size: 1.2vmax;
    text-align: left;
    height: auto;
    text-shadow: 2px 1px black;
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);
}





/*CONTATO*/

.myContact{
    width: 40%;
    height: 100%; 
    transition:  all 1s;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    container-name: contacts-c;
}   
.myContact:hover{
    cursor: pointer;
    transition: all 1.2s;
    transform: translateY(-10px);
}
.imageContact{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}
.imageContact img{
    max-height: 100%;
    max-width: 100%;
    
}


.textInContainerContact{
    width:90%;
    height:80%;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    text-align: left;
    transition: all 1s;
    margin: 1em;
    overflow: hidden;
    
}

.textInContainerContact h2{
    font-family: Quadrado;
    font-size: 3vmax;
    text-align: center;
    text-shadow: 2px 1px black; 
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);
    color: white;
    margin: 0;
}

.textInContainerContact h3{
    font-family: Quadrado;
    color:white;
    font-size: 2vmax;
    text-align: left;
    height: auto;
    text-shadow: 2px 1px black;
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);

    margin: 0;
}





/*      PROJECTS       */







.projectsContainer{
    position: relative;
    height: 100%;
    width: 90%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.myProject{
    width: 100%;
    height: 40%; 
    transition:1s;
    margin-bottom: 4vmax;
    transition:  all 1s;
    filter: grayscale(.6);
    border: 1px solid white;
}
.myProject:hover{
    cursor:pointer;
    filter: grayscale(0);
    height: 43%;
}


.inContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    transition: all 1s;
    z-index: 20;
    box-shadow: inset 0px 0px 33px 19px rgba(0,0,0,0.63);
    overflow: hidden;
}
.inContainer:hover{
    box-shadow: none;
}

.inContainer:hover .textInContainer{
    transform: translateX(-150%);
}
.allHidden{
    position: relative;
    width: 100%;
    height: 100%;
}

.imageHidden{
    width: 100%;
    height: 100%;
    background-color: blue;
    position: absolute;
    
}
.imageHidden img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}



.textInContainer{
    position: relative;
    width:50%;
    height:100%;
    transition: all 1s;
    background-color: rgba(0,0,0,.7);
    box-shadow: 2em 0px 20px 20px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

.textInContainer h2{
    font-family: Future;
    text-align: center;
    text-shadow: 2px 1px black;
    color: white;
    font-size: 3.2em;
    width: 80%;
    margin: 2vmax;
}

.textInContainer h3{
    margin: 0;
    font-family: Quadrado;
    color:white;
    font-size: 1.7em;
    text-align:center;
    width: 90%;
    text-shadow: 2px 1px black;
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);
}


.btnContainer{
    width:50%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btnContainer form{
    width: 28%;
    height: 15%;
    margin-right: 1em;
    margin-bottom: 1em;
    border: none;
}

.btn{
width: 100%;
height: 100%;

text-align: center;
font-family: Future;
font-size:2vmax;
color: #fff;
background-color: #000000;

transition : 298ms;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
z-index: 12;
}

.btn:hover{
transition : 298ms;
background-color: #fff;
color: #000000;}



@media (max-width: 900px){
    
    .containerDivP{
        height:110vh;
    }

.textInContainer h2{
    font-size: 4.5vh;
}    
.textInContainer h3{
    font-size: 2vh;
}
    .btn{
        font-size: 2.5vh;
    }

.btnContainer form{
    width: 40%;
    height: 10%;
    }

}


@media (max-width: 900px){

.textInContainerSkill h2{
    font-size: 1.5vmax;
    }
.textInContainerSkill h3{
    font-size: 2vh;
    }

.containerDivS{
    height: 200vh;
}
    
.skillsContainer{
    height: 85%;
    width: 95%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.mySkill{
    height: 40%; 
    width: 90%;
    }
    .
 
    
}

@media (max-width: 900px){
    
    #menuAbout ul{
        font-size: 1.7vh;
    }
    
}
@media (max-width: 900px){

.imageContact img{
    max-height: 80%;
    max-width: 80%;
    
}
    .myContact .textInContainerContact h2{
        font-size: 5vmax;
    }
    .myContact .textInContainerContact h3{
        font-size: 3.5vmax;
    }
    
    .containerDiv{
        height: 150vh;
    }
    .containerDivI{
        height: 120vh;
    }
    .smallContainerC{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .myContact{
        width: 90%;
        height: 38%;
    }
}





@media only screen and (max-device-width: 440px) {
    

    
.containerDivI{
    height:150vh;
    width: 100%;
    }
    .smallContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .smallContainer p{
        width: 95%;
        text-align: justify;
        word-break: break-all;
    }
    #myPhoto{
    width: 30vmin;
    height: 35vmin;
    }


.btnContainer form{
    width: 60%;
    height: 12%;
    
    }


    
.containerDivS{
    height: 200vh;
}
    
.skillsContainer{
    height: 90%;
    width: 95%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.mySkill{
    height: 35%; 
    width: 90%;
    }
    
.textInContainerSkill h2{
    font-size: 1.5vmax;
    }
.textInContainerSkill h3{
    font-size: 1.5vmax;
    }
    .levelSkill{
        height: 1.2vh;
        border-radius: 0%;
        border: .15vmax solid white;
    }
 
.imageContact img{
    max-height: 100%;
    max-width: 100%;
    
}
    
    .containerDiv{
        height: 120vh;
    }
    .smallContainerC{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }
    .myContact{
        width: 90%;
        height: 45%;
        
    }
    
    .containerDivP{
        height: 85vh;
    }
.projectsContainer{
    position: relative;
    height: 100%;
    width: 90%;
}


    
    .textInContainer{
        width: 70%;
    }
.textInContainer h2{
    font-size: 3.5vh;
    margin-top: .5vmax;
}    
.textInContainer h3{
    font-size: 1.5vmax;
    margin: 0;
}
.myProject{
    width: 100%;
    height: 100%; 
}
    
    
    .myContact .textInContainerContact h2{
        font-size: 3.2vh;
    }
    .myContact .textInContainerContact h3{
        font-size: 2.6vh;
    }
    
    
    
    .textAbout .textInContainerContact h2{

        font-size: 2.2vh;
    }
    .textAbout .textInContainerContact h3{
        font-size: 1.5vh;
    }
    
    
}

.alert{
	border: 3px solid rgba(204, 0, 0,0);
	width: 100%;
	border-radius: 5px;
	font-family: Future;
    font-size: 3vmax;
	text-align:center;
	opacity:0.5;
	transition: all .8s;
	clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}

.emailForm{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transition: all 1.5s;

}
.emailForm h1{
    text-align: center;
    font-family: Future;
    font-size: 5vmax;
    filter:     drop-shadow(0px .1vmax 0px black) drop-shadow(.1vmax .2vmax 0px black) 
    drop-shadow(0px .2vmax 0px black) drop-shadow(.1vmax .2vmax 0px black);
}

.emailForm form{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: flex-start;    
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    grid-row-gap: 10%;
}

.emailForm #mySubmit{
    width: auto;
	left:50%;
    border-radius: 5px;
    border: none;
    background: none;
    color: white;
    font-family: quadrado;
    font-size: 3vmax;    
    background: 
        linear-gradient(90deg, white 50%, transparent 0) repeat-x,
        linear-gradient(90deg, white 50%, transparent 0) repeat-x;
    background-size: 16px 1px, 16px 1px, 1px 16px, 1px 16px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
	filter: drop-shadow(1px 1px 1px black) drop-shadow(-1px 1px 1px black) drop-shadow(1px -1px 1px black)drop-shadow(-1px -1px 1px black);

}

.emailForm #mySubmit:hover{
    cursor: pointer;
    animation: outlining .3s infinite linear;
	outline:none;
}
.emailForm input[type="text"]{
    width: 60%;
    height: 20%;
    resize: none;
    border-radius: 10px;
    border:none;
	background-color: white;
    filter: drop-shadow(5px 5px 1px black);
    font-family: quadrado;
	font-size: 1.6vmax;
    padding: 10px 10px 10px 10px;
	outline:none;
}
.emailForm input[type="text"]:hover{
	outline:none;
}


@keyframes outlining {
    100% {
        background-position: 16px 0, -16px 100%, 0 -16px, 100% 16px;
    }
} 
.emailForm textarea{
    width: 95%;
    height: 90%;
    resize: none;
    border-radius: 10px;
    border:none;
    filter: drop-shadow(5px 5px 1px black);
    font-family: quadrado;
    padding: 10px 10px 10px 10px;
    
}
.emailForm textarea:focus{
    border: none;
    outline: none;
}
#containerCaptcha{
	width: 80%;
	display:flex;
	flex-direction: row;
	grid-column-gap: 5%;
}
	
#containerCaptcha div{
	width:90%;
	letter-spacing: 20px;
 user-select: none;
 font-family: captcha;
 font-size: 3.4vmax;
	filter: drop-shadow(1px 1px 1px black) drop-shadow(-1px 1px 1px black) drop-shadow(1px -1px 1px black)drop-shadow(-1px -1px 1px black);
}