             
@font-face{
  font-family: Hyper;
  src: url(../fontes/menu.ttf);
}
@font-face{
  font-family: Dos;
  src: url(../fontes/DOS.ttf);    
}
@font-face{
  font-family: Dos3D;
  src: url(../fontes/DOS3D.ttf);
}

@font-face{
  font-family: Vice;
  src: url(../fontes/vicecity.otf);
}

@font-face{
  font-family: Future;
  src: url(../fontes/future.otf);
}

@font-face{
  font-family: Aldo;
  src: url(../fontes/aldo.ttf);
}

@font-face{
  font-family: Quadrado;
  src: url(../fontes/quadrado.ttf);
}

@font-face{
  font-family: Batman;
  src: url(../fontes/batman.ttf);
}



html{
    height: 100%;
}
body{
    overflow-x: hidden;
    margin:0;
    height: 100%;
     font-family: Vice;
    color: white;
    background: rgb(4,4,4);    
    position: relative;

}
#animation{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -10;
    overflow: hidden;
}

#cab{
    height:60vh;
    width:100%;
    background: linear-gradient(180deg, rgba(12,12,12,0.5) 0%, rgba(9,9,9,0.5) 65%, rgba(8,8,8,0.0.5) 78%, rgba(4,4,4,0) 100%); z-index:5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}
#cab h1{
    width: 100%;
    text-align: center;
    font-family: Quadrado;
    font-size: 5vmax;
    filter:     drop-shadow(.1vw .2vw 0px black) drop-shadow(.2vw .4vw 0px black)drop-shadow(.3vw .6vw 0px black);
    container-type: inline-size;
    container-name: cab-c;
    
}




.titleProject{
    margin-top: 8em;
    height: 20%;
    margin-left: 3em;
    display: flex;
    align-items: center;
    clip-path: polygon(50% 0%, 81% 0, 99% 0, 75% 100%, 68% 100%, 90% 0, 85% 0, 62% 100%, 0 100%, 0 0);    
    container-type: inline-size;
    container-name: cab-c;
    
}

.titleProject h1{
    font-family: Future;
    font-size: 5vmax;
    filter:     drop-shadow(0px .2vmax 0px black) drop-shadow(1px .3vmax 0px black) 
    drop-shadow(0px .4vmax 0px black) drop-shadow(1px .4vmax 0px black) 
    ;
    z-index: -1;
}


/*  CONTAINERS  */

.containerDiv{
    width:100%;
    height: 100vh;
}
.containerDivI{
    width:100%;
    height: 100vh;
}
.containerG{
    width:100%;
    height: auto;
    display: flex;flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    container-type: inline-size;
    container-name: global-c;
}
.containerDivS{
    width:100%;
    height: 98vh;
    display: block;

}

.containerDivP{
    width:100%;
    height: 180vh;
}

.smallContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#myPhoto{
    position: relative;
    width: 30vmax;
    height: 30vmax;
    border-radius: 100%;
    background: url("../imagens/eu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.smallContainer p{
    width: 60%;
    margin-left: 1vmax;
    text-align: left;
    font-family: Quadrado;
    font-size: 3vmax;
    filter:     drop-shadow(0px 2px 0px black) drop-shadow(0px -2px 0px black) 
    drop-shadow(2px 0px 0px black) drop-shadow(-2px 0px 0px black) 
    ;
}


.bigContainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    container-type: inline-size;
    container-name: projects-c;
}


.skillsContainer{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}



.smallContainerC{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}


/*SKILL CONTAINER*/





.mySkill{
    width: 25%;
    height: 100%; 
    transition:1s;
    margin-top: 1.5em;
    transition:  all 1s;
    
    background: linear-gradient(0deg, rgba(52,95,180,1) 0%, rgba(25,56,116,1) 55%, rgba(25,56,116,1) 100%); z-index:5;
 
    filter: grayscale(.3) drop-shadow(10px 15px black);
}
.mySkill:hover{
    cursor:pointer;
    transform: translateY(-1vmax);
    filter: grayscale(0);
}


.inContainerSkill{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: center;
    transition: all 1s;
    overflow: hidden;
}




.allHiddenSkill{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.imageHiddenSkill{
    width: 60%;
    height: 20%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-content: center;
    filter: grayscale(.3) drop-shadow(0px 3px white) drop-shadow(0px -3px white)drop-shadow(3px 0px white)drop-shadow(-3px 0px white);
    margin-top: 20px;
}
.imageHiddenSkill img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



.textInContainerSkill{
    width:90%;
    height:100%;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    text-align: left;
    transition: all 1s;
    margin: 0;
    overflow: hidden;
    
}
.levelSkill{
    width: 70%;
    height: 1.1vmax;
    border: 1px solid white;
    border-radius: 10%;
    box-shadow: 0px 0px 4px 0px rgb(223,200,40);
    background: linear-gradient(90deg, rgba(223,200,40,1) 0%, rgba(223,200,40,1) 25%, rgba(255,255,255,1) 25.1%, rgba(223,200,40,1) 25.5%,
    
    
    rgba(223,200,40,1) 50%, rgba(255,255,255,1) 50.1%, 
    
    rgba(223,200,40,1) 50.5%,
    
    rgba(223,200,40,1) 75%, rgba(255,255,255,1) 75.1%, 
    
    rgba(223,200,40,1) 75.5%, 
    
    rgba(223,200,40,1) 100%);
    
}
.textInContainerSkill h2{
    font-family: Future;
    font-size: 2vmax;
    text-align: center;
    text-shadow: 2px 1px black;
    color: white;
}

.textInContainerSkill h3{
    font-family: Quadrado;
    color:white;
    font-size: 1.2vmax;
    text-align: left;
    height: auto;
    text-shadow: 2px 1px black;
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);
}





/*CONTATO*/

.myContact{
    width: 40%;
    height: 100%; 
    transition:  all 1s;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    container-name: contacts-c;
}   
.myContact:hover{
    cursor: pointer;
    transition: all 1.2s;
    transform: translateY(-10px);
}
.imageContact{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}
.imageContact img{
    max-height: 100%;
    max-width: 100%;
    
}


.textInContainerContact{
    width:90%;
    height:80%;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    text-align: left;
    transition: all 1s;
    margin: 1em;
    overflow: hidden;
    
}

.textInContainerContact h2{
    font-family: Quadrado;
    font-size: 3vmax;
    text-align: center;
    text-shadow: 2px 1px black; 
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);
    color: white;
    margin: 0;
}

.textInContainerContact h3{
    font-family: Quadrado;
    color:white;
    font-size: 2vmax;
    text-align: left;
    height: auto;
    text-shadow: 2px 1px black;
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);

    margin: 0;
}





/*      PROJECTS       */







.projectsContainer{
    position: relative;
    height: 100%;
    width: 90%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.myProject{
    width: 100%;
    height: 100%; 
    transition:1s;
    margin-bottom: 4vmax;
    transition:  all 1s;
    filter: grayscale(.6);
    border: 1px solid white;
}
.myProject:hover{
    cursor:pointer;
    filter: grayscale(0);
}


.inContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    transition: all 1s;
    z-index: 20;
    box-shadow: inset 0px 0px 33px 19px rgba(0,0,0,0.63);
    overflow: hidden;
}
.inContainer:hover{
    box-shadow: none;
}

.inContainer:hover .textInContainer{
    transform: translateX(-150%);
}
.allHidden{
    position: relative;
    width: 100%;
    height: 100%;
}

.imageHidden{
    width: 100%;
    height: 100%;
    background-color: blue;
    position: absolute;
    
}
.imageHidden img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}



.textInContainer{
    position: relative;
    width:50%;
    height:100%;
    transition: all 1s;
    background-color: rgba(0,0,0,.7);
    box-shadow: 2em 0px 20px 20px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

.textInContainer h2{
    font-family: Future;
    text-align: center;
    text-shadow: 2px 1px black;
    color: white;
    font-size: 3.2em;
    width: 80%;
    margin: 2vmax;
}

.textInContainer h3{
    margin: 0;
    font-family: Quadrado;
    color:white;
    font-size: 1.7em;
    text-align:center;
    width: 90%;
    text-shadow: 2px 1px black;
    filter:     drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black)drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);
}


.btnContainer{
    width:50%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btnContainer form{
    width: 28%;
    height: 15%;
    margin-right: 1em;
    margin-bottom: 1em;
    border: none;
}

.btn{
width: 100%;
height: 100%;

text-align: center;
font-family: Future;
font-size:2vmax;
color: #fff;
background-color: #000000;

transition : 298ms;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
z-index: 12;
}

.btn:hover{
transition : 298ms;
background-color: #fff;
color: #000000;}



@media (max-width: 900px){

.textInContainer h2{
    font-size: 2.2em;
}    
.textInContainer h3{
    font-size: 1.2em;
}
    

.btnContainer form{
    width: 40%;
    height: 10%;
    }

}


@media (max-width: 900px){

.textInContainerSkill h2{
    font-size: 1.5vmax;
    }
.textInContainerSkill h3{
    font-size: 2vh;
    }

.containerDivS{
    height: 200vh;
}
    
.skillsContainer{
    height: 85%;
    width: 95%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.mySkill{
    height: 40%; 
    width: 90%;
    }
    .
 
    
}

@media (max-width: 900px){

.imageContact img{
    max-height: 80%;
    max-width: 80%;
    
}
    .textInContainerContact h2{
        font-size: 5vmax;
    }
    .textInContainerContact h3{
        font-size: 3.5vmax;
    }
    
    .containerDiv{
        height: 150vh;
    }
    .smallContainerC{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .myContact{
        width: 90%;
        height: 38%;
    }
}

@media (max-width:900px){
    
.containerDivI{
    height: 50vh;
    }

}




@media only screen and (max-device-width: 640px) {
    

    
.containerDivI{
    height:80vh;
    
    }
    .smallContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .smallContainer p{
        width: 95%;
        text-align: center;
    }
    #myPhoto{
    position: relative;
    width: 30vmax;
    height: 30vmax;
    border-radius: 100%;
    background: url("../imagens/eu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

    
    

.btnContainer form{
    width: 40%;
    height: 10%;
    }


    
.containerDivS{
    height: 200vh;
}
    
.skillsContainer{
    height: 90%;
    width: 95%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.mySkill{
    height: 35%; 
    width: 90%;
    }
    
.textInContainerSkill h2{
    font-size: 1.5vmax;
    }
.textInContainerSkill h3{
    font-size: 1.8vmax;
    }
    .levelSkill{
        height: 1.2vh;
        border-radius: 0%;
        border: .15vmax solid white;
    }
 
.imageContact img{
    max-height: 90%;
    max-width: 90%;
    
}
    .textInContainerContact h2{
        font-size: 4vmax;
    }
    .textInContainerContact h3{
        font-size: 2.5vmax;
    }
    
    .containerDiv{
        height: 120vh;
    }
    .smallContainerC{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }
    .myContact{
        width: 90%;
        height: 45%;
        
    }
    
    .containerDivP{
        height: 85vh;
    }
.projectsContainer{
    position: relative;
    height: 100%;
    width: 90%;
}


    
    .textInContainer{
        width: 70%;
    }
.textInContainer h2{
    font-size: 5vmax;
}    
.textInContainer h3{
    font-size: 1.4vmax;
}
.myProject{
    width: 100%;
    height: 100%; 
}
    
    
    
    
}

