.item{
  aspect-ratio: 8/6;
  width: calc(var(--size));
  z-index:var(--hidden);
  position: absolute;
  cursor: pointer;
  background: opaque;
  user-select:none;
  animation: rotation normal linear infinite var(--time);
  }
.item img{
  pointer-events: none;
	object-fit: contain;
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
}

@keyframes rotation{
 0%{
    transform: rotateZ(0deg);
 }
 100%{
  transform: rotate(360deg);
 }
}
@media only screen and (max-width: 600px){
  .item{
    display: none;
  }
}