 .imgBox{
  width:100%;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 13px rgba(0,0,0,0.75);
  aspect-ratio: 1 / 1;
  background: #4f415f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: clip-path calc(  calc(var(--delay)*2) + 700ms) ease-in,
  box-shadow 140ms linear;
  animation: wiggle calc(var(--delay) + 5500ms) normal infinite linear;
  z-index:999999;
  }
 .imgBox img{
  position: absolute;
  object-fit: contain;
  min-width: 70%;
  min-height: 70%;
  max-width: 70%;
  max-height:70%;
  pointer-events: auto;
  transition: all 140ms;
  cursor: pointer;
 }

 .imgBox:hover{
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
 }
 .imgBox:hover img{
  min-width: 79%;
  min-height: 79%;
  max-width: 79%;
  max-height:79%;
 }

.show{
  clip-path: circle(100%);
}

.hidden{
  clip-path: circle(1%);
}

@keyframes wiggle{
     0% {
        transform: scale(1) translate(0,0); 
    }
    50% {
         transform: scale(1) translate(0,4%);  
    }
    100% {
        transform: scale(1) translate(0,0);
    }  
}

@media only screen and (max-width:800px){
 .imgBox{
 box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.75);
 }

}

@media only screen and (max-width:400px){
 .imgBox{
    box-shadow: inset 0px 0px 0px 6px rgba(0,0,0,0.75);

  }
  
}