 .imgBox{
  position: relative;
  width: 16%;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 13px rgba(0,0,0,0.75);
  aspect-ratio: 1 / 1;
  background: #4f415f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: clip-path calc(var(--delay) + 400ms) ease-in,
  box-shadow 140ms linear;
 
 }
 .imgBox img{
  position: absolute;
  object-fit: contain;
  min-width: 70%;
  min-height: 70%;
  max-width: 70%;
  max-height:70%;
  pointer-events: auto;
  transition: all 140ms;
  cursor: pointer;
 }

 .imgBox:hover{
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
 }
 .imgBox:hover img{
  min-width: 79%;
  min-height: 79%;
  max-width: 79%;
  max-height:79%;
 }

.show{
  clip-path: circle(100%);
}

.hidden{
  clip-path: circle(1%);
}



@media only screen and (max-width:800px){
 .imgBox img{
  position: relative;
  object-fit: contain;
  min-width: 70%;
  min-height: 70%;
  max-width: 70%;
  max-height:70%;
 }
 .imgBox{
  width: 29%;
 }

}

@media only screen and (max-width:400px){
 .imgBox{
    width: 32%;
    box-shadow: inset 0px 0px 0px 8px rgba(0,0,0,0.75);
  }
}