/*
Pensamento do DESIGNER: Deixe tudo pegando 80% da tela
*/
.box{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 999999;
  gap: 70px;
 }

.projectBox{
  width: 28%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 99999;
}

.projectTitle{
  width: 100%;
  height: 50%;
  color:#fffade;
  text-align: center;
}
.projectTitle h2{
  font-weight: 900;
}
.projectTitle span{
  color: #fffade;
}
.projectImg{
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.projectImg img{
  object-fit: contain;
  z-index: 999999;
  min-width: 90%;
  min-height: 90%;
  max-width: 90%;
  max-height: 90%;
}



@media only screen and (min-width:2000px){
  
.projectTitle{
  height: 68%;
}
}

@media only screen and (max-width:800px){

.box{
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap:50px;
 } 
  .projectBox{
    height: 30%;
    width: 80%;
    z-index: 999999;
  }
  .projectImg{
    height: 25%;
  }  
    .projectTitle{
    z-index: 99999;
    height: 55%;
    }
  
.projectImg img{
  object-fit: contain;
  z-index: 999999;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

}


@media only screen and (max-width:400px){
  .box{
    width: 100%;
    gap: 0px;
  }

  .projectBox{
    width: 80%;
  }
  .projectTitle{
    height: 50%;
  }
  .projectImg{
    height: 20%;
  }

}
