/*
Pensamento do DESIGNER: Deixe tudo pegando 80% da tela
*/
.box{
  width: 80%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 999999;
  gap: 10px;
 }

.projectBox{
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 99999;
}

.projectTitle{
  width: 100%;
  height: 66%;
  color:#fffade;
  text-align: center;
}
.projectTitle span{
  color: #fffade;
}
.projectImg{
  position: relative;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.projectImg img{
  object-fit: contain;
  z-index: 999999;
  min-width: 90%;
  min-height: 90%;
  max-width: 90%;
  max-height: 90%;
}


@media only screen and (max-width:1000px){
.box{
  width: 65%;
  justify-content: center;
}
}


@media only screen and (max-width:800px){

.box{
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap:5%;
 } 
  .projectBox{
    height: 30%;
    width: 70%;
    z-index: 999999;
  }
  .projectImg{
    height: 30%;
  }  
    .projectTitle{
    z-index: 99999;
    height: 60%;
    }
  
.projectImg img{
  object-fit: contain;
  z-index: 999999;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

}


@media only screen and (max-width:600px){
  .box{
    width: 80%;
  }

  .projectBox{
    width: 90%;
  }
  .projectTitle{
    height: 49%;
  }
  .projectImg{
    height: 25%;
  }
}
@media only screen and (max-width:400px){
  .box{
    width: 80%;
  }

  .projectBox{
    width: 90%;
  }
  .projectTitle{
    height: 55%;
  }
  .projectImg{
    height: 25%;
  }

}
