
.containerHeader{
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
  pointer-events: none;
}

.myAccounts{
  margin-top: 5%;
  width: 50%;
  height: 5%;
}

.myAccounts img{
  filter:contrast(70%);
  cursor: pointer;
  transition: .5s;
  pointer-events: auto;
  animation: popUp 1.2s ease-in-out normal;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.myAccounts img:hover{
  filter:contrast(100%);
}
.myAccounts a{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.wrapperHeaderLeft{
  width:46%;
  aspect-ratio: 1/1;
  z-index: 99;
}

svg{
  width: 0;
  height: 0;
}
.wrapperPhoto{
  height: 80%;
  aspect-ratio: 3/3;
  position: relative;
  z-index: 999;  
}
.toClip{
  clip-path: url(#maskPhoto);
  z-index: 9999;
}
.myMoldurePhoto{
  width: 80%;
  aspect-ratio: 3/3;
  position: absolute;
  border-radius: 100%;
  z-index: 99;
}
.myPhoto{
  position: absolute;
  object-fit: contain;
  z-index: 1000;  
  transform: scale(1.6) translate(0,0%) rotateZ(0deg);
  transition: all 1.5s;
 }
.divH1{
  width: 60%;
  height: 50%;
  z-index: 1000;
  position: relative;
  overflow: hidden;
  border-color: transparent;
}
.animationH1{
  border-right: .4vw solid orange;
  height: 4rem;
  display: inline-block;
  animation:  blink-caret 3s; 
  border-color: transparent;
  position: relative;
  overflow: hidden;
}
.title{
  margin:0;
  overflow: hidden; 
  animation: typing 2s forwards;
  white-space: nowrap;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 1s;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  position: relative;
  font-family: "Kode Mono",monospace;
  word-break: break-all;

}
.title::after{
  content: '';
  position: absolute;
  z-index: 9999;
  width: 0;
  height: 2px;
  background:  #1f1926;
  transition: all 1s;
}
.title:hover:after{
  width: 100%;
}
.subTitle{
  animation: revealSubtitle 3s ease-in-out;
  pointer-events: auto;
  transition: all 1s;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
}
.subTitle:hover{
  transform: translateY(-5px);
}


@media only screen and (min-width:2000px){
    .title{
      font-size: 5rem;
    }
    .animationH1{
      height: 5.2rem;
    }
    .subTitle{
      font-size: 2rem;
    }
}

@media only screen and (max-width:1100px){
 
  .wrapperHeaderLeft{
    height: 70%;
  }
  .divH1{
    height: 28%;
    width: 100%;
  }
  .containerHeader{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .wrapperHeaderLeft{
    height: 70%;
  }
}

@media only screen and (max-width:800px){
  .title{
    font-size: 2.5rem;
  }
.subTitle{
  font-size: 1.5rem;
}
}

@media only screen and (max-width:600px){

  .wrapperHeaderLeft{
    height: 60%;
  }
  .animationH1{
height: 2.2rem;
  }

.title::after{
  height: 1px;
 }

 .title{
    font-size: 1.2rem;
  }
.subTitle{
  font-size: .9rem;
}
}




@keyframes typing {
  from { transform: translate(100%); }
  to { transform: translate(0%);}
}

@keyframes blink-caret {
  0% { border-color: orange }
  90% { border-color: orange }
  100% { border-color: transparent; }
}
@keyframes revealSubtitle{
  from { transform: translateY(500%); }
  to { transform: translateY(0%);}
}



