

.fullBox{
  overflow: hidden;
  position: relative;
}
.overView{
  width: 65%;
  height: 100%;
  position: absolute;
  left:0;
  z-index: 10;
  --cor: #1f1926;
  filter: drop-shadow(0px 0px 10px var(--cor)) drop-shadow(0px 0px 10px var(--cor)) drop-shadow(0px 0px 10px var(--cor)) drop-shadow(0px 0px 10px var(--cor));
}
 
.floating{
  width: 100%;
  height: 100%;
}
.floating::after{
  content: "";
  z-index: 50000;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 10px 6px #1f1926;
  pointer-events: none;
}
.clip{
  width: 100%;
  height: 100%;
  background: var(--cor);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clip span{
  text-align: center;
  font-family: 'Font2';
  margin-bottom: 5%;
  font-size: 2.4rem;
}
.distros{
  gap: 50px;
  margin-bottom: 10%;
  justify-content: center;
}
.distros img{
  min-width: 18%;
  min-height: 50%;
  max-width: 23%;
  max-height: 100%;
  filter:grayscale(70%);
}
.distros img:hover{
  cursor: pointer;
  transition: all 1s;
  filter: grayscale(0%);
}
.box{
  display: flex;
  flex-direction: column;
  background: red;
}


@media only screen and (max-width:800px){

  .overView{
    width: 100%;
    height: 45%;
  }
  .clip{
    gap:10%;
    justify-content: flex-end;
  }
  .clip span{
    margin:0;
  font-size: 1.8rem;
  }
  .floating{
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 185%;
  }

}

@media only screen and (max-width:400px){

  .overView{
    width: 100%;
    height: 40%;
  }
.floating{
height: 55%;
}

  .clip span{
    margin:0;
  font-size: 1.3rem;
  }
.distros img{
  min-width: 18%;
  min-height: 100%;
  max-width: 18%;
  max-height: 100%;
}

}