
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow-x: hidden;

}

h1{
  font-family: 'Font4';
  letter-spacing: 5px;
  top: 0;
  margin-top: 5%;
}
