html, body {

    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

h1{
  font-family: 'Font4 ';
  letter-spacing: 5px;
  top: 0;
  margin-top: 10%;
}

