@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@font-face {
    font-family: 'Font1';
    src: url('../Fonts/Rublack.otf');
}

@font-face {
    font-family: 'Font2';
    src: url('../Fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Font3';
    src: url('../Fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'Font4';
    src: url('../Fonts/Retrow.ttf');
}

@font-face {
    font-family: 'Font5';
    src: url('../Fonts/Blunt.otf') format("opentype");
}

@font-face {
    font-family: 'Font6';
    src: url('../Fonts/ZTGatha-SemiBold.ttf');
}
@font-face {
    font-family: 'FontProjectTitle';
    src: url('../Fonts/FerroRosso.ttf');
}
@font-face {
    font-family: 'FontProjectSubTitle';
    src: url('../Fonts/Lemands.ttf');
}
@font-face{
    font-family: 'Font7';
    src: url('../Fonts/upheavtt.ttf');
}