@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Book.otf') format('opentype');
  font-weight: 325;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Medium.otf') format('opentype');
  font-weight: 350;
}

@font-face {
  font-family: 'Gotham' ;
  src: url('/fonts/Gotham/Gotham-Bold.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham' ;
  src: url('/fonts/Gotham/Gotham-Black.otf') format('opentype');
  font-weight: 700;
}

* {
  font-family: 'Gotham', sans-serif;
  transition: all .6s;
}
@layer utilities {
  
    .scroll-padrao::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    
    .scroll-padrao::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: #f0f4f8;
    }
    
    .scroll-padrao::-webkit-scrollbar-track:hover {
      background-color: #d9e2ec; 
    }
    
    .scroll-padrao::-webkit-scrollbar-track:active {
      background-color: #bcccdc; 
    }
    
    .scroll-padrao::-webkit-scrollbar-thumb {
      border-radius: 5px;
      height: 30%;
      background-color: #486581; 
    }
    
    .scroll-padrao::-webkit-scrollbar-thumb:hover {
      background-color: #627d98; 
    }
    
    .scroll-padrao::-webkit-scrollbar-thumb:active {
      background-color: #334e68; 
    }
  
  
}